@model Lubes.Models.Item_category


@{
    ViewData["Title"] = "Create";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card card-1">
    <div class="card-body">
        <h4><img src="/SystemImage/addcategory.png"  class="iconMideum" alt="" /> &nbsp;Add new item category</h4>
    </div>
</div>
<hr />
<div class="row">
    <div class="col-md-4">
        <div class="card card-1">
            <div class="card-header text-left" style="        background-color: #68213A;
        color: white">
                <img src="/SystemImage/add_category.png" asp-append-version="true" alt=""  style="height:40px;width:40px;" /> &nbsp; Add new category
            </div>
            <div class="card-body">
                <form asp-action="Create" enctype="multipart/form-data">
                    <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                        <label asp-for="Category_name" class="control-label"></label>
                        <input asp-for="Category_name" class="form-control" />
                        <span asp-validation-for="Category_name" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        <label asp-for="Category_image" class="control-label"></label>
                        <div class="custom-file">
                            <input asp-for="Category_image" class="custom-file-input" id="customFile">
                            <label class="custom-file-label" for="customFile">Choose file</label>
                        </div>
                        <span asp-validation-for="Category_image" class="text-danger"></span>
                    </div>
                    <div class="form-group">
                        @*<input type="submit" value="Create" class="btn btn-primary" />*@
                        <button type="submit" class="btn btn-primary"><i class="fa fa-cloud-upload" aria-hidden="true"></i>&nbsp;Submit</button>
                        @*<input type="submit" value="Create" class="btn btn-primary" />*@
                        <a asp-action="Create" asp-controller="Add_item" class="btn btn-primary">Go to items &nbsp;<i class="fa fa-arrow-circle-right" aria-hidden="true"></i></a>
                    </div>
                </form>

            </div>
        </div>
    </div>
    <div class="col-md-8 mt-10"  >
        <div class="card card-1">
            <div class="card-header text-left">
                <h4><img src="/SystemImage/availlable.png" class="logo1" alt="" /> &nbsp;Availlable category</h4>
            </div>
            <div class="card-body text-center">

                <table class="table">
                        <thead>
                            <tr>
                                <th style="border-top:none">Image</th>
                                <th style="border-top:none">
                                    Item category
                                </th >
                                <th style="border-top:none">Actions</th>
                            </tr>
                        </thead>
                        <tbody>
                            
                            @{ 
                            @foreach (var item in ViewBag.itemlist)
                            {
                                <tr>
                                    <td style="border-top:none">
                                        <img src="/@item.ImageURL" alt="" class="rounded-circle" style="height:40px;width:40px;" />
                                    </td>
                                    <td style="border-top:none">
                                        @item.Category_name
                                    </td>
                                    <td style="border-top:none">
                                        <!--nadai kuona vile uliinitialise uko juu kwa controler ama..zii kwa view-->
                                        <a asp-action="Delete" class="btn btn-primary btn-sm" asp-route-id="@item.IDT"><i class="fa fa-trash-o" aria-hidden="true"></i></a>          |
                                         <a asp-action="Create" asp-controller="Add_item"  class="btn btn-primary btn-sm" a> &nbsp;<i class="fa fa-plus-circle" aria-hidden="true"></i></a>
                                    </td>
                                </tr>
                            }}
                        </tbody>
                    </table>
            </div>
        </div>
    </div>

</div>

<div>
    
@section scripts1{
    <script type="text/javascript">

        // Add the following code if you want the name of the file appear on select
        $(".custom-file-input").on("change", function () {
            var fileName = $(this).val().split("\\").pop();
            $(this).siblings(".custom-file-label").addClass("selected").html(fileName);
        });
    </script>
}
@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
